# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/

# =========================
# Django
# =========================
db.sqlite3
media/
staticfiles/

# =========================
# Environment Variables
# =========================
.env
!.env.example

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Coverage
# =========================
.coverage
htmlcov/

Migrations (Optional)
**/migrations/*
!**/migrations/__init__.py

# =========================
# PostgreSQL Dumps
# =========================
*.sql

# =========================
# Build Files
# =========================
build/
dist/
*.egg-info/

# =========================
# Python Cache
# =========================
.pytest_cache/
.mypy_cache/