# Django
SECRET_KEY=your-secret-key

DEBUG=False

ALLOWED_HOSTS=localhost,127.0.0.1

# Database (SQLite for development)
DATABASE_ENGINE=django.db.backends.sqlite3
DATABASE_NAME=db.sqlite3

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

# CSRF
CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173


#Email settings
EMAIL_HOST=s702.bom.secure-web.cloud
EMAIL_PORT=465
EMAIL_HOST_USER=epc@fireinspector.co.in
EMAIL_HOST_PASSWORD= password
DEFAULT_FROM_EMAIL=epc@fireinspector.co.in

FRONTEND_URL=http://localhost:5173